
body {
  margin: 0;
  padding: 0;
  font: 15px 'Open Sans', sans-serif;
  min-height:100%;
  height:100%;
  position: relative;
}
.container {
  height: 100vh;
  min-height:100%;
  display: flex;
  background-color: #e9e9e9;
  justify-content: center;
  align-items: center;
  position: relative;
}
.actions-container {
  background: linear-gradient(253deg,#3ba5b4 0,#38ba8a 100%);
  height: 500px;
  margin: auto;
  display: flex;
  width: 800px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.triangle1 {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 120px solid rgba(255,255,255,.08);
  position: absolute;
  transform: rotate(45deg);
  top: 40%;
  left: 30%;
}
.triangle2 {
  width: 0;
  height: 0;
  border-top: 180px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 200px solid rgba(255,255,255,.08);
  position: absolute;
  transform: rotate(20deg);
  top: -100px;
  left: 85%;
}
.triangle3 {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 80px solid rgba(255,255,255,.08);
  position: absolute;
  transform: rotate(70deg);
  top: 84%;
  left: 80%;
}
.square1 {
  height: 30px;
  width: 30px;
  background-color: rgba(255,255,255,.08);
  position: absolute;
  transform: rotate(45deg);
  top: 10%;
  left: 20%;
}
.square2 {
  height: 15px;
  width: 35px;
  background-color: rgba(255,255,255,.08);
  position: absolute;
  transform: rotate(45deg);
  top: 75%;
  left: 27%;
}
.square2 {
  height: 15px;
  width: 35px;
  background-color: rgba(255,255,255,.08);
  position: absolute;
  transform: rotate(20deg);
  top: 32%;
  left: 67%;
}
.circle1 {
  height: 300px;
  width: 300px;
  background-color: rgba(255,255,255,.08);
  border-radius: 50%;
  position: absolute;
  left: -150px;
  top: 70%;
}
.circle2 {
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,.08);
  border-radius: 50%;
  position: absolute;
  left: 65%;
  top: 68%;
}
.login-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
}
.signup-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  z-index: 1;
}
.login-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 38%;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 62%;
}

.login-form>form{
  display: flex;
  flex-direction: column;
}
.login-form>form>a{
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}
.login-form>form>a>span{
  border-bottom: 2px solid #bbbaba;
}
.login-text>p {
  padding: 0 40px;
  margin: 20px auto;
  text-align: center;
}
.social-icon > i {
  border: 1px solid #d1d1d1;
  font-size: 17px;
  color: #000000;
  margin: 2px;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  width: 20px;
  height: 20px;
}

.not-active {
  display: none;
}

.transparent-outlined-btn {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 12px 50px;
  border-radius: 50px;
}
.transparent-outlined-btn:active {
  background-color: rgba(226, 226, 226, 0.651);
}
.btn {
  box-sizing: border-box;
}
.outlined-btn {
  background-color: #43b6a3;
  color: #ffffff;
  font-size: 14px;
  border: none;
  padding: 15px 60px;
  border-radius: 50px;
  border: 2px;
  margin: 20px auto;
  max-width: 200px;
  min-height: 40px;
  cursor: pointer;
  outline:none;
}
.outlined-btn:active {
  background-color: #348d7e;
}
.gray-text {
  color: #b3b3b3;
  margin: 0 0 15px;
}
.light-gray {
  font-size: 15px;
  background-color: #f5f5f5;
  border: none;
  width: 300px;
  padding: 12px;
  margin: 5px;
}
h2 {
  font-size: 32px;
  margin: 0;
  text-align: center;
}
.turtose {
  color: #43b6a3;
}
.p-u-b-15 {
  padding: 15px 0;
}

#pageloader
{
  background: rgba( 255, 255, 255, 0.8 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#pageloader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}

@media all and (max-width: 536px) {
  .actions-container {
    height: 100%;
  }
  .login-container, .signup-container {
    flex-direction: column;
  }
  .login-form, .login-text {
    width: 100%;
  }
  .login-text {
    height: 35%;
  }
  .login-form {
    height: 65%;
  }
 }